@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}
.container1 {
  width: 90%;
  margin: auto;
}
@media (min-width: 1500px) {
  .container1 {
    width: 1440px;
    margin: auto;
  }
}
.active {
  background-color: #7a50b7;

  color: white;
}
.showcasea {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
